* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 95%;
  padding: 25px 0;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: #56291E;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px 0;
}

.produto + .produto {
  margin-top: 30px;
}

.produto h2 {
  font-size: 2rem;
  padding: 15px 0;
  color: #47a996;
}

.produto p {
  color: #56291E;
}

.produto__image {
  width: 150px;
}

@media only screen and (max-width: 992px) {
  .produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  font-size: 1rem;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #858585;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  width: auto;
}
.checkbox label {
  margin-left: 10px;
  margin-bottom: 0;
}

.form__footer {
  margin-top: 20px;
}

.form__button {
  margin-top: 20px;
}

.form__button button {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: 0;
  background: #6fd1be;
  color: #56291E;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.form__button button:hover {
  background: #f4b5b8;
}

@media only screen and (max-width: 992px) {
  .content, .form__grid {
    grid-template-columns: 1fr;
  }
}