body {
  font-family: sans-serif;
}

h1,
h2,
p {
  margin: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.texto-grande {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
}

.texto-medio {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.flex {
  display: flex;
}

.gap-60 {
  gap: 60px;
}

.gap-30 {
  gap: 30px;
}

.cor-primaria {
  color: #0066ff;
}

.cor-cinza {
  color: #707070;
}

.mb-1 {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.btn {
  background: #0066ff;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  border-radius: 5px;
}

----- :root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitulo: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #f7f7f7;
    --fundo-2: #ffffff;
    --texto: #000000;
    --subtitulo: #ffffff;
  }
}

----- body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background: #e6e6e6;
}

button {
  margin-top: 20px;
  display: block;
  font-size: 1.2rem;
  padding: 10px 20px;
  background: #d63a69;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

select {
  font-size: 1rem;
  padding: 10px;
}

textarea {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.checkbox,
.radio {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.checkbox label,
.radio label {
  display: inline-block;
}

.checkbox input,
.radio input {
  width: 20px;
  height: 20px;
}
