* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 95%;
}

.title {
  font-size: 3rem;
  color: #56291e;
  padding-bottom: 35px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.produtos {
  padding: 50px 0;
}

.produto + .produto {
  margin-top: 30px;
}

.produto h2 {
  font-size: 2rem;
  padding: 15px 0;
  color: #47a996;
}

.produto p {
  color: #56291e;
}

.produto__image {
  width: 110px;
}

@media only screen and (max-width: 992px) {
  .produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    text-align: center;
    line-height: 40px;
  }

  p {
    text-align: center;
    padding: 0 20px;
  }
}

.formulario {
  background-color: #fbcfd0;
  padding: 60px 50px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #56291e;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  font-size: 1rem;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #f38b90;
  background-color: #fcdede;
  color: #56291e;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form__grid p {
  color: #56291e;
  font-weight: bold;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  width: auto;
}
.checkbox label {
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: normal;
}

.form__footer {
  margin-top: 20px;
}

.form__button {
  margin-top: 20px;
}

.form__button button {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: 0;
  background: #6fd1be;
  color: #56291e;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.form__button button:hover {
  background: #47a996;
  color: #eeeeee;
}

@media only screen and (max-width: 992px) {
  .content,
  .form__grid {
    grid-template-columns: 1fr;
  }
}
